* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: 0; }

.main-header {
  position: sticky;
  top: 0;
  background-color: white;
  height: 80px;
  box-shadow: 0 0 4px #f0f0f0; }
  .main-header .logo-field {
    margin: 5px 20px;
    display: flex;
    align-items: center; }
    .main-header .logo-field img {
      margin: 10px;
      width: 40px;
      transform: rotate(-45deg); }
    .main-header .logo-field label {
      color: #191818;
      font-size: 25px;
      font-family: sans-serif;
      font-weight: 800; }
  .main-header .header-nav {
    display: flex;
    align-items: center;
    float: right;
    padding-right: 80px; }
    .main-header .header-nav ul {
      display: flex;
      float: right;
      list-style-type: none; }
      .main-header .header-nav ul li {
        margin: 0 10px;
        padding: auto; }
        .main-header .header-nav ul li:hover {
          cursor: pointer;
          color: white;
          background-color: #3e0465;
          line-height: 10vh; }

.main-content {
  margin: 0px 100px 0px 100px; }
  .main-content img {
    margin-top: 20px;
    max-width: 600px;
    width: 450px; }
  .main-content .content--section {
    margin-top: 80px;
    margin-right: 100px;
    max-width: 450px; }
    .main-content .content--section h1 {
      font-size: 60px;
      line-height: 60px; }
    .main-content .content--section p {
      margin: 20px 0; }
    .main-content .content--section input {
      border: none;
      border-radius: 4px;
      background-color: #3e0465;
      padding: 10px 30px;
      color: white;
      text-decoration: none;
      font-size: 14px; }

.main-footer {
  background-color: #f3f3f3;
  padding: 30px; }
  .main-footer .footer-label {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-footer .footer-label p {
      text-align: center; }
    .main-footer .footer-label input {
      border: 2px solid #3e0465;
      border-radius: 4px;
      background-color: white;
      padding: 10px 30px;
      color: #3e0465;
      text-decoration: none;
      font-size: 14px;
      margin: 15px; }
  .main-footer .brand-field {
    display: flex;
    margin: 0 100px; }
  .main-footer .brand {
    filter: grayscale(100);
    width: 200px;
    margin: 50px 80px; }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.main-header {
  grid-area: header; }

.main-content {
  grid-area: main; }

.main-footer {
  grid-area: footer; }

.main-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "logo . nav"; }

.logo-field {
  grid-area: logo; }

.header-nav {
  grid-area: nav; }

.main-content {
  display: grid;
  grid-template-areas: "img section"; }

.content--img {
  grid-area: img; }

.content--section {
  grid-area: section; }

@media only screen and (max-width: 800px) {
  .main-content {
    display: grid;
    grid-template-areas: "section" "img"; }
  .content--img {
    grid-area: img; }
  .content--section {
    grid-area: section; }
  .main-header {
    display: grid;
    grid-template-areas: "logo"; }
  .header-nav {
    display: none !important; }
  .logo-field {
    grid-area: logo; }
  .header-nav {
    grid-area: nav; }
  .brand-field {
    display: flex;
    flex-direction: column; } }
